# PostgresSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=afa_data
DB_USER=juan
DB_PASSWORD=changeme_in_production
DB_URL=postgresql://juan:changeme_in_production@postgres:5432/afa_data

# Python
PYTHONUNBUFFERED=1
